html, body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  gap: 1em;
  align-items: baseline;
  justify-content: space-between;
}

header label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

#time-slider {
  width: 300px;
}

#selected-time {
  width: 60px;
  text-align: center;
}

#any-time {
  font-size: 0.9em;
  color: grey;
  display: none;
  white-space: nowrap;
}


#selected-time {
  white-space: nowrap;
}

#map {
  width: 100%;
  height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  fill-opacity: 0.6;
  stroke: white;
  pointer-events: auto;
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
}

.legend {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.legend > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.legend > div:nth-child(2) {
  background-color: steelblue;
}

.legend > div:nth-child(3) {
  background-color: pink;
}

.legend > div:nth-child(4) {
  background-color: orange;
}
